
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{


   background-color:hsl(212, 45%, 89%);
   font-family: "Outfit", sans-serif;
   font-size: 15px;
   background-color: black;
}
.container
{
    
   height: 400px;
   width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    border-color:2px solid black;
    
}
figure
{
    height: 100px;
    width: 100px;
}
img
{
height: 100%;
width: 100%;
}

h3 .advertisement
{
    font-weight: 700;
}
.help
{
    font-weight: 400;
}